[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
appdirs = "==1.4.3"
arrow = "==0.10.0"
boto3 = ">=1.24.44"
colorama = "==0.3.7"
docopt = "==0.6.2"
docutils = "==0.13.1"
itsdangerous = "==2.1.2"
psycopg2-binary = "*"
pyasn1 = "==0.2.3"
pyparsing = "==2.2.0"
python-dateutil = "==2.6.0"
requests = ">=2.30.0"
rsa = "==4.7"
Jinja2 = ">=2.11.3"
MarkupSafe = "==2.1.1"
SQLAlchemy = ">=2.0.13"
SQLAlchemy-Utils = "==0.41.1"
sh = "==1.14.3"
watchdog = "*"
pgpubsub = "*"
snap-micro = ">=1.0.5"
keyring = ">=15.1"
plumbum = "*"
twine = "==4.0.1"
uhashring = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "^3.8"
